/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;500;600&display=swap');

/* Iconos - FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


html{
    font-family: "Montserrat";
    font-size: 16px;
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.bg01{background: tomato;}
.bg02{background: rgb(7, 138, 27);}
.bg03{background: rgb(178, 91, 11);}
.bg04{background: rgb(24, 94, 163);}

.cajas{
    border: 1px solid black;
}