/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;500;600&display=swap');

/* Iconos - FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


html{
    font-family: "Montserrat";
    font-size: 16px;
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Modelo de Caja */
#main-content{
    /* height: ; */
    width: 90%;
/* Espaciado interior 
    padding-left: 10%;*/
    /* border: solid 1px black; */
/* Espaciado exterior */
    margin-left:5% ;
    /* box-sizing: border-box; */

    /* centrar cajas */
    width: 90%;
    margin-left:auto ;
    margin-right:auto ;
    /* calc() */

    }
    .header{
        background-color: tomato;
        padding: 20px;
        /* width: 100%; */
        /* position -> static/relative/absolute/fixed/sticky */
        position: sticky;
        top: 0px;
        left: 0px;

        }
        .logo{
            margin-bottom: 20px;
            text-align: center;
        }
        .list-navbar{
            list-style-type: none;
            margin-left: 20%;
        }
        .list-navbar>li{
                display: inline;
                margin-right: 20px;
            }
            .list-navbar>li>a{
                text-decoration: none;
                color: white;
                padding: 10px;
                transition: 1s;
            }
            .list-navbar>li>a:hover{
                color: tomato;
                    background-color: white;
                }
                .list-navbar>li>a:active{
                    color: tomato;
                    background-color: rgb(114, 40, 8);
                }


    /* 
    pseudoclase
    selector:pseudoclase
    :hover
    
    Pseudoelemento
    selector::pseudelemento
    
    ::selection
    ::before -> antes            
    ::after -> despues
    
    */

    ::selection{
        background-color: white;
    }


    #noticias{
        margin-top: 20px;
        background-color: rgb(255, 115, 0);
        padding: 20px;
        color: white;
        /*height: 500px; vh -> viewport height  */
        /* overflow-y: auto; */
        }
        .noticias{
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.566);
            color: black;
            margin-bottom: 20px;
            transition: 1s;
        }
        .noticias:hover{
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 10px;
        }
        .noticias:active{
            transform: scale(1.1,1.1);
        }
        .noticias h2::before{
            content: "🚗";
            /* content: "f1ea"; */
        }

        /* todo elemento con hover, debe tener transition en su elemento original */

        section a, section strong:hover{
            text-decoration: underline;
        }

        #noticias p>strong{
            color: red;
        }

        /* drag and drop HTML */

        /* *{cursor: url("cursor.gif");} */

    #sorpresa{
        background-color: rgb(219, 219, 219);
        padding: 20px; 
        }
        #sorpresa>p{
            margin-bottom: 20px;
        }

        #sorpresa p:nth-child(odd){
            font-weight: bold;
            color: rgb(31, 31, 31);
        }
        #sorpresa p:nth-child(even){
            font-weight: bold;
            color: rgb(179, 179, 179);
        }

    #contacto{
        background-color: rgb(255, 191, 0);
        padding: 20px;
        height: 90vh;
    }



