/* Fonts Google */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat:wght@100;500;600&display=swap');

/* Iconos - FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');


html{
    font-family: "Montserrat";
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    padding: 20px;
    color: white;
    background: tomato;
    margin-bottom: 10px;
    }
    .header h1{
        text-align: center;
        font-weight: bolder;

    }
    #libros,#nuevoLibro{
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
        }
        #libros .title{
            margin: 1em 0;
        }
        #libros h2{
            text-align: center;
            text-transform: capitalize;
        }

    #form-cargar{
        padding: 5px;
    }
    #form-cargar label{
        text-transform: capitalize;
    }
    #form-cargar input{
        width: 100%;
        padding: .5em;
        margin-bottom: 5px;
    }
    #form-cargar input[type="submit"],#form-cargar input[type="button"]{
        width: 49%;
    }

    #libros-oferta{
        display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .libro{
            width:45%;
            padding: 10px;
            border: 1px solid;
            margin-bottom: 10px;
            border-radius: 10px;display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            }
            .libro .data{
                width: 70%;
            }
            .libro .icon{
                width: 30%;
                font-size: 3em;
            }