<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS</title>
</head>
<body>
    <h1>v-for</h1>
    <div id="app">

        <!-- Crear una lista con los elementos de un array de objetos
            desde Vue --> 
            <!-- <input type="text" v-model="nuevaFruta">
                <button v-on:click=agregarFruta()>Clic para agregar fruta</button> -->     
                <info></info>
        
                <ul >
                    <li v-for="i in frutas">
                        {{i.nombre}} - {{i.cantidad}}
                        <span v-if="i.cantidad > 60">
                            - Premium
                        </span>
                        <span v-else>
                            - oferta
                        </span>
                    </li>
                </ul>
                
                <!-- Componente -->
                
            </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/vue-4.js"></script>
</body>
</html>